*{
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif, Arial, Helvetica;
}
/*Centering the page*/
#wrapper{
    width: 80vw;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    background-color: black;
    color: #b9bfca;
    text-align: center;
}
/* first 2 columns start */
#container {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #1c1b1b;
}
nav {
    width: 20%
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: calc(2px + 1.2vw);
    text-align: center;
    background-color: #373737;
}
nav li{
    display: flex;
    color: #0c0908;
    width: 80%;
    height: 56%;
    font-size: calc(2px + 1.2vw);
    margin: 5vh auto;
}
nav a{
    text-decoration: none;
}
/*main section for desktop */
main {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #131313;
}
main p{
    margin: 0 1vw;
    font-size: calc(2px + 1.2vw);
    color: whitesmoke;
}

#home-title {
    margin: 2vw 0;
    text-align: center;
    font-size: calc(10px + 2vw);
    color: #b9bfca;
}
/*2nd 2 columns starts */
#arch {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2vh 2vw;
}
#col-image {
    width: 40%;
    margin: 1vh 1vw;
}
#img {
    max-width: 100%;
}
#col-about-me {
    align-self: center;
    width: 60%;
    margin: 1vh 1vw;
}
/*footer*/
footer{
    background-color: black ;
    color: #b9bfca;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#time-date{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

footer a{
    color: #b9bfca ;
}

/* smaller screens */
@media screen and (max-width: 800px) {
    header{
        align-items: center;
    }
    #container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    nav {
        width: 100%;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        padding-left: 0;
    }
    nav li{
        display: flex;
        color: whitesmoke;
        font-size: calc(3px + 1.5vw);
        padding: 1% .5%;
        margin: 1% .5%;
    }
    nav a{
        text-decoration: none;
        font-weight: bold;
    }
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    main p{
        margin: 2% 2%;
        color: #0c0908;
    }
    #home-title {
        text-align: Left;
        color: #192236;

    }
    #arch {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #col-image {
        margin: 1vh auto;
    }
    #img {
        max-width: 100%;
    }
    #col-about-me {
        align-self: center;
        width: 100%;
        margin: 1vh 1vw;
    }
}
