*{
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Lato, sans-serif, Arial, Helvetica;
    line-height: 1.6;
}
/*Centering the page*/
#wrapper{
    width: 80vw;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    background-color: black;
    color: #b9bfca;
    text-align: left;
}
/* first 2 columns start */
#container {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #373737;
}
nav {
    width: 20%;
    height: 50vh;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: calc(2px + 1.2vw);
    text-align: center;
    background-color: #373737;
    color: whitesmoke;
    list-style: none;
    height: 50vh;
}
nav li{
    color: whitesmoke;
    display: flex;
    width: 80%;
    font-size: calc(2px + 1.2vw);
    margin: 3vh auto;
}
nav a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}
/*main section for desktop */
main {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #1b1b1b;
    min-height: 100vh;
}
main p{
    font-size: calc(1px + 0.98vw);
    color: whitesmoke;
    font-weight: lighter;
    margin-top: 2vh;
    margin-bottom: 1vh;
}
main ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.links a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #b9bfca;
    font-size: calc(2px + 1.5vw);
}
#contact {
    color: #93a6c5;
    align-items: center;
    text-align: center;
    padding-bottom: 1vh;
}
#home-title {
    margin: 2vw 0;
    text-align: center;
    font-size: calc(10px + 2vw);
    color: #8298bd;
}
/*2nd 2 columns starts */
#arch {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2vh 2vw;
}
#col-image {
    width: 40%;
    margin: 1vh 1vw;
}
#img {
    max-width: 100%;
    border-radius: 50%; /*makes image into a circle */
}
#col-image h4 {
    align-items: center;
    text-align: center;
    color: #93a6c5;
    font-size: calc(2px + 1.3vw);
}
#col-image h5 {
    align-items: center;
    text-align: center;
    color: whitesmoke;
    font-size: calc(1px + 1.3vw);
}
#col-about-me {
    align-self: center;
    width: 60%;
    margin: 1vh 1vw;
}
/*footer*/
footer{
    background-color: black ;
    color: #b9bfca;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#date {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    position: relative;
}

footer a{
    color: #b9bfca ;
}
#resume {
    color: lavender;
    font-weight: bold;
}
#this-page {
    text-decoration: underline;
}

/* smaller screens */
@media screen and (max-width: 1000px) {
    header{
        align-items: center;
    }
    #home-title {
        font-size: calc(18px + 2.1vw);
    }
    #container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    nav {
        width: 100%;
        height: auto;
        padding: 1vw;
    }
    nav ul{
        padding: 1vh 1vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        color: whitesmoke;
        height: auto;
    }
    nav li{
        display: flex;
        color: whitesmoke;
        font-size: calc(4px + 1.9vw);
        padding: .5% .5%;
        margin: .5% .5%;
    }
    main{
        width: 100%;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    main p {
        color: whitesmoke;
        font-size: calc(7px + 2.1vw);
        padding: 2vh 3vh;
        text-align: center;
    }
    main ul {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
    }
    .links a{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        color: #b9bfca;
        margin: 2%;
        font-size: calc(12px + 1.9vw);

    }
    #contact {
        font-size: calc(18px + 1.6vw);
        padding-top: 1vh;
        margin: 2%;
    }
    .nav2 {
        font-weight: bold;
    }
    #this-page {
        color: #b9bfca;
    }
    #home-title {
        text-align: center;
        color: #8298bd;
        font-size: calc(18px + 2.1vw);
    }
    #arch {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #col-image {
        width: 100%;
        margin: 2%;
    }
    #img {
        margin: 2%;
        max-width: 100%;
        border-radius: 50%; /*makes image into a circle */
    }
    #col-image h4 {
        align-items: center;
        text-align: center;
        color: #93a6c5;
        font-size: calc(17px + 1.7vw);
    }
    #col-image h5 {
        align-items: center;
        text-align: center;
        color: whitesmoke;
        font-size: calc(14px + 1.5vw);
    }
    #col-about-me {
        align-items: center;
        width: 100%;
        margin: 2%;

    }

}