*{
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif, Arial, Helvetica;
    line-height: 1.6;
}
/*Centering the page*/
#wrapper{
    width: 80vw;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    background-color: black;
    color: #b9bfca;
    text-align: left;
}
/* 2 columns start */
#container {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #1c1b1b;
}
nav {
    width: 20%
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: calc(2px + 1.2vw);
    text-align: center;
    background-color: #373737;
    color: whitesmoke;
    list-style: none;
}
nav li{
    color: whitesmoke;
    display: flex;
    width: 80%;
    height: 40%;
    font-size: calc(2px + 1.2vw);
    margin: 5vh auto;
}
nav a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;

}
#this-page {
    text-decoration: underline;
}
#project-title {
    margin: 2vw 0;
    text-align: center;
    font-size: calc(8px + 2vw);
    color: #8298bd;
}
main {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #1b1b1b;
}
#arch {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2vh 2vw;
}
#col1 {
     width: 45%;
     margin: 1vh 1vw;
 }
#col2 {
    width: 55%;
    margin: 1vh 1vw;
}
#calc-section {
    width: 100%;
    text-align: center;
    margin-top: 2vh;
    padding: 2vh 2vw;
    background-color: #8a8989;
    display: block;
}
h3 {
    text-align: center;
}
.projects {
    text-align: left;
    color: #b9bfca;
    margin: 1.5vh 2vw 0;
}
.proj-link {
    display: block;
    text-decoration: underline;
    color: whitesmoke;
    font-size: calc(1px + 0.98vw);
    font-weight: lighter;
    margin-left: 2vw;
}
.project-description {
    font-size: calc(1px + 0.98vw);
    color: whitesmoke;
    font-weight: lighter;
    margin-top: 1vh;
    margin-left: 2vw;
}
/*#margin {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
}*/

footer{
    background-color: black ;
    color: #b9bfca;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: auto;
}
footer a{
    color: #b9bfca ;
}
#resume {
    color: lavender;
    font-weight: bold;
}

/* calculator */
#calc-section {
    width: 100%;
    text-align: center;
    margin-top: 2vh;
    padding: 2vh 2vw;
    background-color: #c5b7d3;
    display: block;
    align-items: center;
    color: #3a2c3a;
}
input {
    border-color: #8a728a;
    border-radius: 5px;
}
label {
    color: #3a2c3a;
    font-weight: bold;
}
#result-label {
    display: block;
}
#result {
    width: 80%;
    height: 40px;
    background-color: lavender;
    padding: 2px 10px;
    #color:  #8a728a;
    border: 2px solid #3a2c3a;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
button {
    background-color: lavender;
    border-color: #8a728a;
    color: #8a728a;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 50px;
}
@media screen and (max-width: 800px) {
    header {
        align-items: center;
    }

    #container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    nav {
        width: 100%;

    }
    #calc-section {
        max-height: 60%;
    }
    nav ul {
        padding: 1vh 1vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        color: whitesmoke;
    }

    nav li {
        display: flex;
        color: whitesmoke;
        font-size: calc(3px + 1.5vw);
        padding: .5% .5%;
        margin: .5% .5%;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    #arch {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #col2 {
        width: 100%;
        margin: 1vh auto;
    }

    #col1 {
        width: 100%;
        margin: 1vh 1vw;
    }

    .project-description, .proj-link {
        margin: 2% 6%;
        color: whitesmoke;
        font-size: calc(4px + 1.5vw);
        align-items: center;
    }
    .projects {
        text-align: center;
    }
    main a,p{
        text-align: center;
    }
}